@import '../../scss/global';

.settingsStart {
  width: 1200px;
  height: 900px;
  background: $bg-primary;
  color: $white;
  border: none;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &_title {
    margin: 20px 0;
  }
}
