@import '../../scss/global';

.selectroster{
  width: 940px;
  height: 50px;
  background-color: $bg-secundary;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;

  &-body {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &-select {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;

      .select-items div {
        color: #ffffff;
        padding: 8px 16px;
        border: 1px solid transparent;
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        cursor: pointer;
        user-select: none;
      }

      &-option::before,
      &-option::after {
        box-sizing: border-box;
      }

      &-option {
        width: 400px;
        height: 34px;
        appearance: none;
        background-color: $bg-input;
        border: none;
        padding-right: 7px;
        border-radius: 4px;
        font-size: 15px;
        outline: 0;
        text-align: right;
        color: $white;
        cursor: pointer;
        line-height: 1.1;
      }

      &-option::after {
        content: "";
        width: 0.8rem;
        height: 0.5rem;
        background-color: #fff;
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
      }

      &_button {
        padding: 10px;
        width: 105px;
        height: 36px;
        margin: 0 10px 0 20px;
        background-clip: padding-box;
        background-color: rgb(52, 153, 255);
        border: none;
        border-radius: 0.25rem;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        font-size: 14px;
        position: relative;
        text-decoration: none;
        transition: all 250ms;
        touch-action: manipulation;
        vertical-align: baseline;
      }
    }
  }
}
