@import '../../../scss/global';

.rostercreated {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $bg-input;
  border-radius: 4px;
  margin: 10px 0 10px 0;
  padding: 5px;

  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &-title,
    &-date,
    &-guests {
      width: 317px;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 12px;
      justify-content: flex-start;
    }

    &-title_roster {
      color: $vanilla;
    }
  }

  &-delete {
    &_btn {
      background-clip: padding-box;
      background-color: $btn-warining;
      border: none;
      border-radius: 0.25rem;
      box-sizing: border-box;
      color: white;
      cursor: pointer;
      font-size: 14px;
      min-height: 2rem;
      padding: calc(0.53rem + 1px) calc(1.1rem - 1px);
      // position: relative;
      text-decoration: none;
      transition: all 250ms;
      touch-action: manipulation;
      vertical-align: baseline;
      width: 100%;
      cursor: pointer;
    }

    &_btn:hover {
      background-color: $btn-warining-hover;
    }
  }
}

.rostercreated:hover {
  background-color: $bg-btnOff;
}

.rosterpaginated {
  width: 400px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0 30px 0;

  &_paginated {
    &-styles {
      list-style: none;
      display: flex;
      flex-direction: row;
      width: 300px;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
    }

    &-icon {
      cursor: pointer;
      font-size: 30px;
      color: $aqua;
    }

    &-icon:hover {
      color: $aqua-hover;
    }
  }
}
