@import '../../scss/global';

.elementlist {
  list-style-type: none;
  width: 465px;
  height: 400px;
  // margin-right: 10px;
  background-color: $bg-secundary;
  border-radius: 7px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  .elementlist-list {
    width: 400px;
    height: 70px;
    border-radius: 4px;
    background-color: $bg-secundary;
    text-align: left;
    margin: 7px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .elementlist-list-each {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      &_input {
        width: 40%;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
      }

      &_input_value {
        margin-left: 2%;
        width: 35%;
        font-size: 17px;
      }

      &_info {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      // &_info_category {
      // }

      // &_info_date {
      // }
    }
  }
}
