@import '../../../scss/global';

.chartmain {
  &-charts {
    width: 940px;
    height: 510px;
    background-color: $bg-secundary;
    border: none;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-printdata {
    width: 940px;
    height: 310px;
    margin-top: 30px;
    background-color: $bg-secundary;
    border: none;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
