@import '../../scss/colors';

.profile {
  width: 1000px;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $bg-primary;
  color: $white;
  font-size: 15px;
  border-radius: 0 7px 7px 0;
}
