@import '../../../scss/global';

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    text-align: left;

    &_email_label,
    &_password_label {
      display: block;
      margin-top: 20px;
    }

    &_password_input,
    &_email_input {
      width: 350px;
      height: 70px;
      display: block;
      border: none;
      color: $white;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 3px;
      padding: 0 10px;
      margin-top: 5px;
      font-size: 17px;
    }
  }

  &-button {
    width: 210px;

    &_login {
      margin-top: 50px;
      width: 100%;
      background-color: $aqua;
      color: $white;
      border: none;
      padding: 15px 0;
      font-size: 18px;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.5) 0 2px 5px 0;
    }

    &_login:hover {
      background-color: $aqua-hover;
    }
  }
}
