@import '../../../scss/global';

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-form {
    width: 300px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.03);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    text-align: left;

    &_email_label,
    &_password_label {
      display: block;
      margin-top: 30px;
    }

    &_password_input,
    &_email_input {
      display: block;
      height: 45px;
      border: none;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 3px;
      padding: 0 10px;
      margin-top: 5px;
      font-size: 15px;
    }
  }

  &-button {
    width: 210px;

    &_login {
      margin-top: 50px;
      width: 100%;
      background: $white;
      color: #080710;
      border: none;
      padding: 15px 0;
      font-size: 18px;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    }
  }
}
