@import '../../scss/global';

.home {
  width: 1000px;
  height: 900px;
  display: flex;
  flex-direction: column;
  background-color: rgb(31, 31, 55);
  color: white;
  font-size: 15px;
  border-radius: 0 7px 7px 0;
  justify-content: center;
  align-items: center;
}
