@import '../../../scss/global';

.select {
  &-section {
    // width: 900px;
    height: 60px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    gap: 20px;
    justify-content: space-between;

    &_btn {
      padding: 10px;
      width: 150px;
      height: 45px;
      background-clip: padding-box;
      background-color: $aqua;
      border: none;
      border-radius: 0.25rem;
      box-sizing: border-box;
      color: white;
      cursor: pointer;
      font-size: 14px;
      position: relative;
      text-decoration: none;
      transition: all 250ms;
      touch-action: manipulation;
      vertical-align: baseline;
    }

    &_btn:hover {
      background-color: $aqua-hover;
    }
  }
}
