@import '../../scss/global';

.navbar {
  width: 200px;
  height: 900px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  font-size: 15px;
  background-color: $bg-secundary;
  border-radius: 7px 0 0 7px;

  &-profile {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &_fullname-name {
      color: $vanilla;
    }

    &_avatar {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      background-color: $white;
      margin: 20px 0;

      &-img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
      }
    }
  }

  .navbar-icons {
    width: 100%;
    height: 70%;

    .navbar-icons_slect {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;

      &_link {
        width: 100%;
        height: 50px;
        color: $white;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;

        &-title {
          margin-left: 20px;
        }

        &-title:hover {
          background-color: none;
        }

        &-icon {
          margin-left: 20px;
        }

        &-icon:hover {
          background-color: none;
        }
      }

      &_link:hover {
        background: $bg-gradient-blue;
      }
    }
  }

  &-bottom {
    width: 100%;
    margin-bottom: 20px;

    &_logout {
      width: 100%;
      height: 40px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &-title {
        margin-left: 20px;
      }
    }

    .navbar-bottom_logout:hover {
      background: $bg-gradient-blue !important;
    }
  }
}
