@import '../../../scss/colors';

.barchart {
  width: 350px;
  min-height: 300px;
  color: $black;
  margin: 15px 0;
  background-color: rgb(48, 48, 48);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  justify-content: center;

  &-graph {
    font-size: 10px;
  }
}
