//Primary colors
$white: white;
$black: black;
$bone: rgb(255, 242, 242);
$vanilla: rgb(255, 235, 183);
$green: rgb(27, 214, 27);
$blue: rgb(53, 53, 255);
$red: rgb(252, 15, 15);
$button: #ff6a06;
$button-hover: #d45500;
$button-disable: #f7eae17e;
$aqua: rgba(52, 153, 255, 1);
$aqua-hover: rgb(35, 117, 199);
$aqua-dark: rgba(58, 57, 133, 1);
$grey: rgb(80, 80, 80);

//gradietns
$button-gradient-primary: linear-gradient(
  135deg,
  rgba(255, 166, 46, 1) 0%,
  rgba(234, 77, 44, 1) 100%
);
$gradient-red: linear-gradient(
  135deg,
  rgba(226, 28, 52, 1) 0%,
  rgba(80, 11, 40, 1) 100%
);

//backgournd colors
$bg-primary: rgb(31, 31, 55);
$bg-secundary: rgb(50, 60, 85);
$bg-list: rgb(228, 228, 228);
$bg-input: rgba(71, 80, 102);
$bg-btnOff: rgb(114, 134, 211);

//backgournd colors (Dark)
// $bg-primary: rgb(31, 31, 31);
// $bg-secundary: rgb(48, 48, 48);

//background gradients
$bg-gradient-blue: linear-gradient(
  135deg,
  rgba(52, 153, 255, 1) 0%,
  rgba(58, 57, 133, 1) 100%
);
