@import './colors';
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

//fonts
$font-value: 'Quicksand', sans-serif;


* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  background: $white;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 300;
  color: $white;
}
